
<div class="col-md-12 text-center">
  <h2>Servicio</h2>
</div>


  <div class="col-md-4 offset-md-4">
   <%= form_for @service do |f| %>

   <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% @service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="mb-3">
      <%= f.label :title, class:"form-label" %>
      <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :description, class:"form-label"  %>
      <%= f.text_area :description, class:"form-control" %>
    </div>

  
    
    <div class="mb-3" data-controller="service">
      <%= f.label :region, class:"form-label" %>
      <%= f.select :region, @cities.map{|key, value| [value, key]}, {:prompt => "--select county--"}, data: {action: "click->service#funcion"} %>
    <br>
      <%= f.label :comuna, class:"form-label" %>
      <%= f.select :comuna, @comunas, {:prompt => "--select comuna--"}  %>
        
     
    </div>

  
    <div class="mb-3">
      <%= f.label :category, class:"form-label" %>
      <%= f.select(:category_id, @categories.map{|category| [category.name, category.id]}) %>
    </div>


    <div>
        <%= f.file_field :certificates, multiple: true ,class:"form-label" %>
    </div>

    <div class="actions">
      <%= f.submit "Ingresar Servicio", class:"btn btn-primary" %>
    </div>

  <% end %>


</div>


<% if !@current_user_have_service.nil? %>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Crear Calendario Laborar</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= form_for @working_settings do |form| %>
        <div class="form-group row">
          <div class="col-sm-3">
            <%= form.label "Trabajare desde", class:"form-label" %>
            <%= form.date_field :start_date, class:"form-control", min: DateTime.now.strftime("%y-%m-%d"), max: (DateTime.now+1.year).strftime("%y-%m-%d") %>
            <%= form.label "Trabajare hasta", class:"form-label" %>
            <%= form.date_field :end_date, class:"form-control", min: (DateTime.now+1.day).strftime("%y-%m-%d"), max: (DateTime.now+1.year).strftime("%y-%m-%d") %>
          </div>

          <div class="col-sm-3">
            Precio por hora
            <%= form.number_field :hour_price, min: 1000, max: 1000000, class:"form-control" %>
          </div>
          <div class="col-sm-3">
            <%= form.collection_check_boxes :array_hours, WorkingSetting.get_hours, :downcase, :to_s do |b| %>
              <div class="form-check">
                <%= b.check_box(class:"form-check-input") %>
                <%= b.label(class:"form-check-label") %>
              </div>
            <% end %>
          </div><!-- fin col-sm-6-->

          <div class="col-sm-3">
            <%= form.collection_check_boxes :array_days, WorkingSetting.get_days, :downcase, :to_s do |b| %>
              <div class="form-check">
                <%= b.check_box(class:"form-check-input") %>
                <%= b.label(class:"form-check-label") %>
              </div>
            <% end %>
          </div> <!-- fin col-sm-6-->
        </div>  <!-- fin form-group row -->

        <div class="form-group">
          <%= form.submit "Crear Caledario", class:"btn btn-primary" %>
        </div>

      <% end %> <!-- fin form_with-->
    </div> <!-- fin col-sm-12-->
  </div> <!-- fin row-->

  <div data-controller="hello">
    <div data-hello-target="calendar"></div>
  </div>

<% end %> <!-- fin if !@current_user_have_service.nil?-->

