<% services.each do |service| %>
  <div class="photo-album-item-wrap col-4-width">
    <div class="photo-album-item">
      <div class="photo-item">
        <%= image_pack_tag "media/images/photo-item1.webp", width: 577, height: 283  %>
      </div>

      <div class="content">
        <%= link_to service.user.full_name, service_path(service, {start_date: params[:start_date]}), class:"title h5" %>
        <span class="title h6"><%= service.categories_text %></span>
        <span class="title h6">Comuna: <%= service.comuna %></span>
        <span class="title h6">Región: <%= region(service.region) %></span>
        <span class="sub-title">Comentarios: 0</span>
      </div>

    </div>
  </div>
<% end %>