<div class="row">
  <div class="col-md-12">
    <h1>Mis reservas</h1>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Estado de la reserva</th>
          <th scope="col">Servicio</th>
          <th scope="col">Descripción del Servicio</th>
          <th scope="col"> Región del Servicio</th>
          <th scope="col"> Comuna del Servicio</th>
          <th scope="col"> Precio del Servicio</th>
          <th scope="col"> Fecha y hora tomada</th>
          <th scope="col"> Ir al Chat</th>
          <th scope="col"> Commentar</th>
    
        </tr>
      </thead>
      <tbody>
        <% @my_bookings.each do |booking| %>
          <tr>
            <td><%= booking.status %></td>
            <td><%= booking.service.categories_text %></td>
            <td><%= booking.service.description %></td>
            <td><%= booking.service.region %></td>
            <td><%= booking.service.comuna %></td>
            <td><%= booking.price %></td>
            <td><%= booking.schedules.map{|schedule| "#{schedule.start_date.strftime("%D")} - #{schedule.start_date.strftime("%H:%M")}" }.join( " | " ) %></td>
            <td><%= link_to "Ir al chat", booking_chat_path(booking, booking.chat) %></td>
            <% if booking.schedules.maximum(:start_date) <= Time.now.to_datetime  %>
              <td>asdasdasd</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>