<div class="chat-field">
  <div class="ui-block-title">
    <h6 class="title"><%= booking.service.user.full_name %></h6>
    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
  </div>

  <div id="chat_booking" class="mCustomScrollbar" data-mcs-theme="dark">
    <ul class="notification-list chat-message chat-message-field" data-controller="chat" data-chat-target="booking" data-booking="<%= booking.id %>">
      <%= render messages, locals:{current_user: current_user} %>
    </ul>
  </div>

  <%= form_for([booking, chat, chat.messages.new], remote: true)do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class:"form-control", placeholder: "Empieza a Chatear" %>
    </div>
      <%= f.submit "Enviar", class:"btn btn-primary btn-sm" %>
  <% end %>


</div>