<div class="row">
  <div class="col col-md-6 col-sm-12">
    <h2>
      <%= @booking.service_categories_text %>
    </h2>
    <p>
      <%= @booking.service_description %>
    </p>
    <ul>
      <% @booking.schedules.each do |schedule| %>
        <li>
          <p>
            Fecha: <%= schedule.start_date %>
          </p>
        </li>
      <% end %>
    </ul>
    <hr>
    <p>
      Precio total: <%= @booking.price %>
    </p>

    <div data-controller="booking">
    <% if current_user.id == @booking.client_id && @booking.confirm_service == false %>
      <%= link_to "Confirmar Reserva", booking_chat_confirm_service_path(@booking, @chat.id), method: :post, remote: true, id: "confirm_service", class:"btn btn-primary btn-sm", data:{ action:"click->booking#click_ajax"} %>
    <% elsif current_user.id == @booking.service.user_id && @booking.confirm_client == false %>
      <%= link_to "Confirmar Reserva", booking_chat_confirm_client_path(@booking, @chat.id), method: :post, remote: true, id: "confirm_client", class:"btn btn-primary btn-sm", data:{ action:"click->booking#click_ajax"} %>
    <% end %>
    </div>

  </div>
  <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-6">
    <div class="ui-block mb-0">
      <%= render partial: 'chat', locals:{messages: @messages, chat: @chat, booking: @booking} %>
    </div>
  </div>

</div>