<div class="row">
  <div class="col-md-6">
    <h2>
      <%= @booking.service.title %>
    </h2>
    <p>
      <%= @booking.service.description %>
    </p>
    
    <ul>
      <% @booking.schedules.each do |schedule| %>
        <li>
          <p>
            Fecha: <%= schedule.start_date %>
          </p>
        </li>
      <% end %>
    </ul>
    <hr>
    <p>
      Precio total: <%= @booking.price %>
    </p>
    <div data-controller="booking" id="div1">
    <% if current_user.id == @chat.booking.client_id && @chat.booking.confirm_service == false %>
      <%= link_to "confirmar", chat_confirm_service_path(@chat.id), method: :post, remote: true, id: "confirm_service", onclick: :"showdiv(div1)"%>
    <% elsif current_user.id == @chat.booking.service.user_id && @chat.booking.confirm_client == false %>
      <%= link_to "Confirmar", chat_confirm_client_path(@chat.id), method: :post, remote: true, id: "confirm_client", onclick: :"showdiv(div1)" %>
    <% end %>
    <script>
    function showdiv() {
      document.getElementById('div1').style.display = "none";
    }
    </script>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-inside-lg decor-default">
            <div class="chat-body">
              <% @messages.each do |message| %>
                <div class="answer <%= left_or_right_chat(message, current_user) %>">
                  <div class="avatar">
                    <%# <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User name"> %>
                    <div class="status offline"></div>
                  </div>
                  <div class="name"><%= message.sender.full_name %></div>
                  <div class="text">
                    <%= message.body %>
                  </div>
                  <div class="time"><%= time_ago_in_words(message.created_at) %></div>
                </div>
              <% end %>
              <div class="answer-add">
                <input placeholder="Write a message">
              </div>
            </div>
          </div>
  </div>

</div>