<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">


	<!-- Header Standard Landing  -->
	<div class="header--standard header--standard-landing" id="header--standard">
		<div class="container">
			<div class="header--standard-wrap">

				<a href="#" class="logo">
					<div class="img-wrap">
						<img loading="lazy" src="img/logo.webp" alt="Olympus" width="34" height="34">
						<img loading="lazy" src="img/logo-colored-small.webp" width="34" height="34" alt="Olympus" class="logo-colored">
					</div>
					<div class="title-block">
						<h6 class="logo-title">olympus</h6>
						<div class="sub-title">SOCIAL NETWORK</div>
					</div>
				</a>

				<a href="#" class="open-responsive-menu js-open-responsive-menu">
					<svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>
				</a>

				<div class="nav nav-pills nav1 header-menu expanded-menu">
					<div class="mCustomScrollbar">
						<ul>
							<li class="nav-item">
                <%= link_to "Home", root_path, class:"link-find-friend" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Buscar Servicio', search_path, class:"link-find-friend"%>
              </li>
              <% if !user_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'Registro', new_user_registration_path, class:"link-find-friend"%>
                </li>
                <li class="nav-item">
                  <%= link_to 'Login', new_user_session_path, class:"link-find-friend"%>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to('Mis reservas', bookings_path, class:"link-find-friend") %>
                </li>
                <li class="nav-item">
                  <%= link_to('Peticiones de reservas', my_services_bookings_path, class:"link-find-friend") %>
                </li>
                <li class="nav-item">
                  <%= link_to('Mi Servicio', services_path, class:"btn btn-primary") %>
                </li>
                <li class="nav-item">
                  <%= link_to('Logout', destroy_user_session_path, class:"link-find-friend", method: :delete) %>
                </li>
              <% end %>
              <% if user_signed_in? %>
                <li class="shoping-cart more">
                  <a href="#" class="nav-link">
                    <span class="count-product"><%= @user_notify.count %></span>
                  </a>
                  <div class="more-dropdown shop-popup-cart">
                    <ul>
                      <% @user_notify.each do |notify| %>
                        <li class="cart-product-item">
                          <div class="product-content">
                            <h6 class="title"><%= notify.message %></h6>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              <% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ... end Header Standard Landing  -->
</div>

<!-- End Stunning header -->




