<!DOCTYPE html>
<html>
  <head>
    <title>Home People</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= render 'admin/common/left_tab_menu' %>
    <%= render 'admin/common/top_bar' %>
    <div class="page-wrapper">
      <div class="page-content">
        <div class="container-fluid">
          <%= render 'admin/common/title_page' %>
          <%= yield %>
        </div>
      </div>
      <%= render 'admin/common/footer' %>
    </div>
    <%= javascript_include_tag 'admin' %>
  </body>
</html>
