<!DOCTYPE html>
<html>
  <head>
    <title>Homepeople</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="body-bg-white">

    <%= render "commons/navegation" %>
    <%= render "commons/messages" %>
    <div class="header-spacer"></div>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "commons/footer" %>
  </body>
</html>
